<mat-accordion>
  <mat-expansion-panel *ngFor="let event of events">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ event.id }}
      </mat-panel-title>
      <mat-panel-description>
        {{ event.title }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="row">
      <div fxFlex="50">
        <h3>Début</h3>
        {{ event.start | date : 'dd/MM' }} - {{ event.start | date : 'HH:mm' }}
      </div>
      <div fxFlex="50">
        <h3>Fin</h3>
        {{ event.end | date : 'dd/MM' }} - {{ event.end | date : 'HH:mm' }}
      </div>
    </div>
    <h3>Description</h3>
    {{ event.description }}
    <h3>Location</h3>
    <div fxLayout="row">
      <div fxFlex="50">
        {{ event.location.title }}
      </div>
      <div fxFlex="50">
        <button type="submit" mat-mini-fab color="primary" matTooltip="Save this event" class="margin-left-15 float-right" (click)="notifyEdition(event)"><mat-icon>edit</mat-icon></button>
        <button mat-mini-fab color="warn" matTooltip="Remove this event" type="reset" class="float-right" (click)="openDialog(event)"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
